@media (max-width:900px) {
    .castom-playVideo{
        width:100vw;
        height: 40vh;
    }
    .castom-video-text1 {
        width:100vw;
        /* background-color: aquamarine; */
        padding:10px 5px;
    }
    .castom-videoCommend-box{
        padding: 0;
        width:100vw;
    }

    .castom-subscribeAndID-box{
        width: 100vw;
        /* padding-left: 20px; */
    }
}